{
  "name": "{{{packageName}}}",
  "version": "0.0.1",
  "description": "A custom Node-RED node called {{name}}",
  "keywords": ["node-red"],
  "node-red": {
    "nodes": {
      "{{name}}": "{{name}}.js"
    }
  }
}
